@charset "utf-8";
/*html {
	background: url(../_assets/bkgd_imgs/wrinkled_paper.jpg) no-repeat fixed center center;
	background-size: 100%;
}*/
html {
    background: url(../_assets/bkgd_imgs/wrinkled_paper.jpg) no-repeat fixed center center;
	background-size: cover;
}
body {
	font-size: 62.5%;
	font-family: 'Open Sans', sans-serif;
    background: none;
}
/*.hidden {
	display: none;
}*/
div#body {
    height: 100%;
}
.icon {
	margin-right: 5%;
	margin-left: 5%;
	text-align: center;
	width: 100%;
	height: 50px;
	margin: 0.5em auto;
}
.icon:first-child, .icon:last-child {
	margin: 0 5%;
	text-align: center;
	width: 100%;
	height: 65px;
	margin: 0.5em auto;
}
h1 {
	text-align: center;
	padding-top: 0.75em;
	color: rgba(0,102,0,1);
	font: bold 3.4em 'Homemade Apple', cursive;
	margin-top: 0.1em;
	margin-bottom: -0.3em;
}
h2 {
	padding: 0.25em 0;
	color: rgba(79,45,6,1);
	cursor: pointer;
	text-shadow: 2px 2px 5px #ffffff;
	text-shadow: -2px -2px 5px #ffffff;
	font: bold 4em 'La Belle Aurore', cursive;
}
h2:hover, h2:active {
	color: rgba(0,55,0,1);
}
#topBun {
	background: url(../_assets/icons/top_bun.gif) no-repeat center center;
	background-size: 100% 100%;
}
#menu {
	background: url(../_assets/icons/lettuce_tomato.gif) no-repeat center center;
	background-size: 100% 100%;
}
#gallery {
	background: url(../_assets/icons/cheese.gif) no-repeat center center;
	background-size: 100% 100%;
}
#about {
	background: url(../_assets/icons/chicken.gif) no-repeat center center;
	background-size: 100% 100%;
}
#bottomBun {
	background: url(../_assets/icons/bottom_bun.gif) no-repeat center center;
	background-size: 100% 100%;
}
/* reset p font-size */
p, a, label {
	font-size:  2.2em;	
}
a#downloadMenu {
	text-decoration: underline;
}
footer p {
	float: left;
	text-align: left;
	margin: 1.75em 2em 1.75em 5em;
	font-size: 1.75em;
}
footer a {
	float: right;
	margin: -3.75em 5em;
}
#linkedin {
	background: url(../_assets/icons/linkedin_sprite.gif) no-repeat center bottom;
	height: 35px;
	width: 35px;
}
/* save for media query
#linkedin:hover, #linkedin:active {
	background: url(../_assets/icons/linkedin_sprite.gif) no-repeat center bottom;
}*/
#topBun img {
	margin-top: -2em;
	height: 20%;
	width: 75%;
}
.content {
	width: 90%;
	margin: 1em auto;	
}

.carousel-inner > .item > img,  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
}
h3 {
	font: 3.5em 'La Belle Aurore', cursive;
	text-align: center;
	margin-top: -0.5em;
	margin-bottom: 0.25em;
}
h3.subHeading {
	font: bold 2.5em 'Homemade Apple', cursive;
}
h3.menuSection {
	color: rgba(79,45,6,1);
	cursor: pointer;
}
h3.menuSection:hover, h3.menuSection:active {
	color: rgba(153,0,0,1);
}
#aboutPara {
	text-align: justify;	
}
h4 {
	font: 4em 'La Belle Aurore', cursive;
	margin-bottom: -0.05em;
}
label {
	font-weight: normal;	
}
#cmdSubmit {
	display: block;
	color: black;
	font: 4em 'La Belle Aurore', cursive;
	width: 8em;
	padding: 1.5em 2.5em;
	margin: -0.5em auto;
	background: url(../_assets/icons/submit_button.gif) no-repeat left center;
	background-size: 16em 3.2em;
	height: 4em;
}
#cmdSubmit:visited {
	color: black;
}
#cmdSubmit:hover, #cmdSubmit:active {
	font-weight: bold;
	text-decoration: none;
	background: url(../_assets/icons/submit_button.gif) no-repeat right center;
	background-size: 16em 3.2em;
	color: rgba(255,255,255,1);
}
#frmContactUs {
	width: 100%;
	display: block;
	margin: 0.5em auto;	
}
#frmContactUs input, #frmContactUs textarea {
	width: 275px;
}

.socMediaSprite {
	/* [disabled]display: inline-block; */
	height: 35px;
	width: 35px;
}
img#facebook {
	background: url(../_assets/icons/facebook_sprite.gif) no-repeat left top;
}
img#twitter {
	background: url(../_assets/icons/twitter_sprite.gif) no-repeat left top;
}
img#yelp {
	background: url(../_assets/icons/yelp_sprite.gif) no-repeat left top;
}
img#instagram {
	background: url(../_assets/icons/instagram_sprite.gif) no-repeat left top;
}
div.socialMedia {
	width: 22.5%;
	display: inline-block;
	text-align: center;
	margin: 0 1%;
}
#errorMsg {
	font-weight: bold;
	color: red;	
	width: 100%;
}
#errorMsg p {
	text-align: center;	
}
#letter>p:nth-child(2), #letter>p:nth-child(3), #letter>p:nth-child(6) {
	text-align: justify;
}
#letter {
	padding-top: 2em;
}
#signature {
	font:  bold 1.05em 'Homemade Apple', cursive;
	word-spacing: 5px;
}

.menuItem {
	font-weight: bold;
}
.menuItemDescription {
	font-style: italic;
}
.menuPic {
	width: 100px;
}
table {
	width: 100%;
	margin-bottom: 2em;
}
td {
	font-size: 2em;
	padding: 0.5em 0;
}
span.price {
	float: right;
}
table#sectionSandwiches tr:nth-child(odd) {
	background: rgba(255,102,0,0.5);
}
table#sectionSandwiches tr:nth-child(even) {
	background: rgba(255,153,51,0.4);
}
table#sectionSides tr:nth-child(odd) {
	background: rgba(51,153,0,0.5);
}
table#sectionSides tr:nth-child(even) {
	background: rgba(102,204,51,0.4);
}
table#sectionBevs tr:nth-child(odd) {
	background: rgba(51,204,255,0.5);
}
table#sectionBevs tr:nth-child(even) {
	background: rgba(102,204,255,0.4);
}


iframe {
	margin-right: auto;
	margin-left: auto;
    width: 275px;
    height: 275px;
}
#mainLogo {
	width: 20%;
	margin: 0.25em;
	/* [disabled]float: left; */
}
/*thank you page main css*/
#thankYouBody {
	width: 95%;	
	margin: 0 auto;
}
#thankYouBody header {
	margin-top: -1.75em;
}
#thankYouBody h1 {
	clear: both;
	width: 100%;
	display: block;
	/* [disabled]float: right; */
	font-size: 2.7em;
}
#thankYouBody h2 {
	text-align: center;
	margin-top: 0.1em;
}
#thankYouBody header img:nth-child(2) {
	width: 75%;
	height: 5%;
	margin: 0px auto 0px 12.5%;
}
#thankYouBody footer {
	/*position: absolute;*/
	bottom: 0px;
	height: 3em;
	padding-bottom: 1em;
	margin-top: 5em;
	/* [disabled]width: 100%; */
	/* [disabled]background: rgba(0,153,102,1); */

}
#cmdReturn {
	font: 1.35em 'La Belle Aurore';
	color: rgba(79,45,6,1);
	text-align: right;
	width: 15em;
	background: url(../_assets/icons/returnButton_sprite.gif) no-repeat left top;
	display: block;
	height: 1.5em;
	background-size: 1.5em;
	margin-top: 2em;
	/*margin-bottom: 5em;*/
}
#cmdReturn:visited {
	color: rgba(79,45,6,1);	
}
#cmdReturn:hover, #cmdReturn:active {
	background: url(../_assets/icons/returnButton_sprite.gif) no-repeat left bottom;
	background-size: 1.5em;
}
/*reset this h2 so cursor is not pointer*/
#thankYouBody h2:hover {
	color: rgba(79,45,6,1);
	cursor: default;
}
