/* iPhones 4 (retina) to iPhone 6 */
@media screen and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 320px) and (min--moz-device-pixel-ratio: 2) {
div.body, #thankYouBody {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.content {
	width: 95%;	
}
.icon {
	height: 2.75em;
}
.icon:first-child, .icon:last-child {
	height: 40em;
}
h1 {
	font-size: 10em;
	padding-top: 1em;
}
h2 {
	font-size: 13em;
	padding-top: .5em;
}
h3 {
	font-size: 10em;
}
h3.subHeading {
	font-size: 6.75em;
}
h4 {
	font-size: 8em;
}
a, label {
	font-size: 8.25em;
}
td {
	font-size: 6.25em;
}
.menuPic {
   width: 335px;
}
form {
   display: block;
   clear: both;
   padding-left: 0;
   padding-right: 0;
}
#errorMsg{
   margin-left: -20px;   
}
#cmdSubmit {
   margin-left: 40px;
   font-size: 8em;
}
iframe {
   width: 100%;
   height: 900px;
   margin-left: 0;
   padding-right: -100px;
}
footer p {
   float: left;
   text-align: left;
   margin: 2.25em 2em 1.5em 2em;
   font-size: 6em;
}
footer a {
   float: right;
   margin: 1.5em 3em 1em 0.5em;
}
.socMediaSprite {
        width: 70px;
        height: 70px;
}
img#facebook {
   background: url(../_assets/icons/facebook_sprite.gif) no-repeat left top;
   background-size: 140px 70px;
}
img#twitter {
   background: url(../_assets/icons/twitter_sprite.gif) no-repeat left top;
   background-size: 140px 70px;
}
img#yelp {
   background: url(../_assets/icons/yelp_sprite.gif) no-repeat left top;
   background-size: 140px 70px;
}
img#instagram {
   background: url(../_assets/icons/instagram_sprite.gif) no-repeat left top;
   background-size: 140px 70px;
}
#linkedin {
   width: 70px;
   height: 70px;
   background: url(../_assets/icons/linkedin_sprite.gif) no-repeat center bottom;
   background-size: 70px;
}
#thankYouBody h1 {
	clear: both;
	width: 100%;
	display: block;
	font-size: 3.5em;
}
#mainLogo {
	width: 25%;
	margin: 0.25 1em 0.25 0.25em;
}
#cmdReturn {
	font-size:  3em;
	background-size: 1.5em;
}
}
/* landscape large samsung phone
@media screen and (min-width: 640px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 640px) and (min--moz-device-pixel-ratio: 3) {
div.body, #thankYouBody {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.content {
	width: 95%;	
}
.icon {
	height: 1.5em;
}
.icon:first-child, .icon:last-child {
	height: 20em;
}
h1 {
	font-size: 5em;
	padding-top: 1em;
}
h2 {
	font-size: 3em;
	padding-top: .5em;
}
h3 {
	font-size: 10em;
}
h3.subHeading {
	font-size: 6.75em;
}
h4 {
	font-size: 8em;
}
p, a, label {
	font-size: 6.25em;
}
td {
	font-size: 5.25em;
}
.menuPic {
   width: 285px;
}
form {
   display: block;
   clear: both;
   padding-left: 0;
   padding-right: 0;
}
#errorMsg{
   margin-left: -20px;   
}
#cmdSubmit {
   margin-left: 40px;
   font-size: 8em;
}
iframe {
   width: 100%;
   height: 900px;
   margin-left: 0;
   padding-right: -100px;
}
footer p {
   float: left;
   text-align: left;
   margin: 2em 2em 1.5em 2em;
   font-size: 6em;
}
footer a {
   float: right;
   margin: 2em 4em 1em 0.5em;
}
.socMediaSprite {
        width: 70px;
        height: 70px;
}
img#facebook {
   background: url(../_assets/icons/facebook_sprite.gif) no-repeat left top;
   background-size: 140px 70px;
}
img#twitter {
   background: url(../_assets/icons/twitter_sprite.gif) no-repeat left top;
   background-size: 140px 70px;
}
img#yelp {
   background: url(../_assets/icons/yelp_sprite.gif) no-repeat left top;
   background-size: 140px 70px;
}
img#instagram {
   background: url(../_assets/icons/instagram_sprite.gif) no-repeat left top;
   background-size: 140px 70px;
}
#linkedin {
   width: 70px;
   height: 70px;
   background: url(../_assets/icons/linkedin_sprite.gif) no-repeat center bottom;
   background-size: 70px;
}
#thankYouBody h1 {
	clear: both;
	width: 100%;
	display: block;
	font-size: 7em;
}
#mainLogo {
	width: 25%;
	margin: 0.25 1em 0.25 0.25em;
}
#cmdReturn {
	font-size:  1em;
	background-size: 1.5em;
}
}*/
/* iPad 3/4  portrait*/
@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min--moz-device-pixel-ratio: 2) {
div.body, #thankYouBody {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.content {
	width: 95%;	
}
.icon {
	height: 2.5em;
}
.icon:first-child, .icon:last-child {
	height: 38em;
}
h1 {
	font-size: 10em;
	padding-top: 1em;
}
h2 {
	font-size: 13em;
	padding-top: .5em;
}
h3 {
	font-size: 10em;
}
h3.subHeading {
	font-size: 6.75em;
}
h4 {
	font-size: 8em;
}
p, a, label {
	font-size: 6.25em;
}
td {
	font-size: 5.25em;
}
.menuPic {
   width: 285px;
}
form {
   display: block;
   clear: both;
   padding-left: 0;
   padding-right: 0;
}
#errorMsg{
   margin-left: -20px;   
}
#cmdSubmit {
   margin-left: 40px;
   font-size: 8em;
}
iframe {
   width: 100%;
   height: 900px;
   margin-left: 0;
   padding-right: -100px;
}
footer p {
   float: left;
   text-align: left;
   margin: 2em 2em 1.5em 2em;
   font-size: 6em;
}
footer a {
   float: right;
   margin: 2em 4em 1em 0.5em;
}
.socMediaSprite {
        width: 70px;
        height: 70px;
}
img#facebook {
   background: url(../_assets/icons/facebook_sprite.gif) no-repeat left top;
   background-size: 140px 70px;
}
img#twitter {
   background: url(../_assets/icons/twitter_sprite.gif) no-repeat left top;
   background-size: 140px 70px;
}
img#yelp {
   background: url(../_assets/icons/yelp_sprite.gif) no-repeat left top;
   background-size: 140px 70px;
}
img#instagram {
   background: url(../_assets/icons/instagram_sprite.gif) no-repeat left top;
   background-size: 140px 70px;
}
#linkedin {
   width: 70px;
   height: 70px;
   background: url(../_assets/icons/linkedin_sprite.gif) no-repeat center bottom;
   background-size: 70px;
}
#thankYouBody h1 {
	clear: both;
	width: 100%;
	display: block;
	font-size: 7em;
}
#mainLogo {
	width: 25%;
	margin: 0.25 1em 0.25 0.25em;
}
#cmdReturn {
	font-size:  1em;
	background-size: 1.5em;
}
}

/* iPad 3/4  landscape*/
@media screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min--moz-device-pixel-ratio: 2) {
div.body, #thankYouBody {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.content {
	width: 95%;	
}
.icon {
	height: 2.5em;
}
.icon:first-child, .icon:last-child {
	height: 24em;
}
h1 {
	font-size: 7em;
	padding-top: 1em;
}
h2 {
	font-size: 8em;
	padding-top: .5em;
}
h3 {
	font-size: 7em;
}
h3.subHeading {
	font-size: 5.5em;
}
h4 {
	font-size: 8em;
}
p, a, label {
	font-size: 4.25em;
}
td {
	font-size: 4.25em;
}
.menuPic {
   width: 250px;
}
form {
   display: block;
   clear: both;
   padding-left: 0;
   padding-right: 0;
}
#errorMsg{
   margin-left: -20px;   
}
#cmdSubmit {
   margin-left: 40px;
   font-size: 6em;
}
iframe {
   width: 100%;
   height: 500px;
   margin-left: 0;
   padding-right: -100px;
}
footer p {
   float: left;
   text-align: left;
   margin: 2em 2em 1.5em 4em;
   font-size: 4em;
}
footer a {
   float: right;
   margin: 1.5em 5em 1em 0.5em;
}
.socMediaSprite {
        width: 70px;
        height: 70px;
}
img#facebook {
   background: url(../_assets/icons/facebook_sprite.gif) no-repeat left top;
   background-size: 140px 70px;
}
img#twitter {
   background: url(../_assets/icons/twitter_sprite.gif) no-repeat left top;
   background-size: 140px 70px;
}
img#yelp {
   background: url(../_assets/icons/yelp_sprite.gif) no-repeat left top;
   background-size: 140px 70px;
}
img#instagram {
   background: url(../_assets/icons/instagram_sprite.gif) no-repeat left top;
   background-size: 140px 70px;
}
#linkedin {
   width: 70px;
   height: 70px;
   background: url(../_assets/icons/linkedin_sprite.gif) no-repeat center bottom;
   background-size: 70px;
}
#thankYouBody {
	width: 60%;	
}
#thankYouBody h1 {
	clear: both;
	width: 100%;
	display: block;
	font-size: 5.5em;
}
#thankYouBody h2 {
	margin-top: 0;
	font-size: 8em;	
}
#thankYouBody p {
	font-size: 4.25em;	
}
#mainLogo {
	width: 25%;
	margin: 0.25 1em 0.25 0.25em;
}
#cmdReturn {
	font-size:  1.5em;
	background-size: 1.5em;
}
#thankYouBody footer p {
	margin-left: 1em;	
}
#thankYouBody footer a {
	margin: 1.25em 2.5em 0 0;	
}
}
