/* CSS Document */
@media screen and (min-width: 320px) {
	div.body, #thankYouBody {
		width: 95%;
		margin-left: auto;
		margin-right: auto;	
	}
}

@media screen and (min-width:  393px) {
	div.body, #thankYouBody {
		width: 80%;
		margin-left: auto;
		margin-right: auto;	
	}
    footer a {
        float: right;
        margin-top: 1em;
        margin-right: 5em;
    }    
}
/*
@media screen and (min-width:  466px) {
	div.body, #thankYouBody {
		width: 75%;
		margin-left: auto;
		margin-right: auto;	
	}
}
@media screen and (min-width:  498px) {
	div.body, #thankYouBody {
		width: 65%;
		margin-left: auto;
		margin-right: auto;	
	}
}*/
@media screen and (min-width:  574px)  {
	div.body, #thankYouBody {
		width: 90%;
		margin-left: auto;
		margin-right: auto;	
	}
    .icon {
        height: 75px;   
    }
    .icon:first-child, .icon:last-child {
        height: 90px;   
    }
    h1 {
        font-size: 3.8em;
        padding-top: 1em;
    }
    h2 {
        font-size: 5em;
        padding-top: .5em;
    }
    h3 {
        font-size: 4.5em;
    }
    h3.subHeading {
        font-size: 3em;
    }
    h4 {
        font-size: 4.4em;
    }
    p, a, label {
        font-size: 2.25em;   
    }
    td {
        font-size: 2.25em;
    }
    .menuPic {
        width: 135px;
    }
    form {
        display: block;
        clear: both;
        padding-left: 50px;
    }
    #errorMsg{
        margin-left: -20px;   
    }
    #cmdSubmit {
        margin-left: 40px;
    }
    iframe {
        margin-left: 50px;
    }
    footer p {
        float: left;
        text-align: left;
        margin: 2.25em 2em 1.5em 5em;
        font-size: 2em;
    }
    footer a {
        float: right;
        margin: 2em 4.75em;
    }
    #thankYouBody h1 {
		clear: both;
		width: 100%;
		display: block;
		font-size: 3.5em;
	}
	#mainLogo {
		width: 25%;
		margin: 0.25 1em 0.25 0.25em;
	}
}
/*
@media screen and (min-width:  622px) {
	div.body, #thankYouBody {
		width: 55%;
		margin-left: auto;
		margin-right: auto;	
	}
}
@media screen and (min-width:  678px) {
	div.body, #thankYouBody {
		width: 48%;
		margin-left: auto;
		margin-right: auto;	
	}
}*/
@media screen and (min-width:  768px) {
	div.body, #thankYouBody {
		width: 90%;
		margin-left: auto;
		margin-right: auto;	
	}
    .icon {
        height: 3em;   
    }
    .icon:first-child, .icon:last-child {
        height: 25em;   
    }
    h1 {
	font-size: 5em;
	padding-top: 1em;
	display: block;
    }
    h2 {
        font-size: 6.75em;
        padding-top: .5em;
    }
    h3 {
        font-size: 6.5em;
    }
    h3.subHeading {
        font-size: 5.5em;
    }
    h4 {
        font-size: 5.4em;
    } 
    p {
        font-size: 3em;   
    }
    label {
        font-size: 3em;   
    }
    td {
        font-size: 3em;
    }
    .menuPic {
        width: 175px;
    }
    form {
        display: block;
        clear: both;
        padding-left: 7em;
    }
    #frmContactUs input, #frmContactUs textarea {
        width: 575px;
    }
    #errorMsg{
        margin-left: 1.5em;   
    }
    a {
        font-size: 3em;   
    }
    #cmdSubmit {
        margin-left: 5em;
        font-size: 5em;
    } 
    iframe {
        margin-left:  50px;
        width: 550px;
        height: 550px;
    }
    footer p {
        float: left;
        text-align: left;
        margin: 3.75em 0em 0.75em 7em;
        font-size: 2.5em;
    }
    footer a {
        float: right;
        margin-top: 3em;
        margin-right: 7em;
    }
    #linkedin {
        width: 35px;
        height: 35px;
        background-size: 35px;
    }
    
    #thankYouBody h1 {
		clear: both;
		width: 100%;
		display: block;
		font-size: 4.5em;
	}
	#mainLogo {
		width: 25%;
		margin: 0.25 1em 0.25 0.25em;
	}
    .socMediaSprite {
        width: 35px;
        height: 35px;
    }
    img#facebook, img#twitter, img#yelp, img#instagram {
        background-size: 70px;
    }
    #cmdReturn {
        font-size:  1.5em;
        background-size: 1.5em;
    }
}
/*no longer needed
@media screen and (min-width:  830px) {
	div.body, div#thankYouBody {
		width: 75%;
		margin-left: auto;
		margin-right: auto;	
	}
}*/
@media screen and (min-width:  1024px) {
    div.body, #thankYouBody {
		width: 600px;
		margin-left: auto;
		margin-right: auto;	
	}
    .icon {
        height: 100px;   
    }
    .icon:first-child, .icon:last-child {
        height: 110px;   
    }
    h1 {
        font-size: 4em;
        padding-top: 1em;
    }
    h2 {
        font-size: 5.75em;
        padding-top: .5em;
    }
    h3 {
        font-size: 4.5em;
    }
    h3.subHeading {
        font-size: 3.5em;
    }
    h4 {
        font-size: 4.4em;
    }
    p, a, label {
        font-size: 2.5em;   
    }
    td {
        font-size: 2.55em;
    }
    .menuPic {
        width: 175px;
    }
    form {
        display: block;
        clear: both;
        padding-left: 0;
    }
    #frmContactUs input, #frmContactUs textarea {
        width: 450px;
    }
    #errorMsg{
        margin-left: -60px;   
    }
    #cmdSubmit {
        margin-left: 5em;
        font-size: 4em;
    }
    iframe {
        margin-left: 150px;
    }
    footer p {
        float: left;
        text-align: left;
        margin: 2em 2em 1.75em 5em;
        font-size: 2.5em;
    }
    footer a {
        float: right;
        margin: 2em 7em;
    } 
    iframe {
        margin-left: 0;   
        width:  400px;
        height: 400px;
    }
    .socMediaSprite {
        width: 35px;
        height: 35px;
    }
    img#facebook, img#twitter, img#yelp, img#instagram {
        background-size: 70px;
    }
    img#facebook {
	   background: url(../_assets/icons/facebook_sprite.gif) no-repeat left top;
    }
    img#twitter {
        background: url(../_assets/icons/twitter_sprite.gif) no-repeat left top;
    }
    img#yelp {
        background: url(../_assets/icons/yelp_sprite.gif) no-repeat left top;
    }
    img#instagram {
        background: url(../_assets/icons/instagram_sprite.gif) no-repeat left top;
    }
    #linkedin {
        width: 35px;
        height: 35px;
        background: url(../_assets/icons/linkedin_sprite.gif) no-repeat center bottom;
        background-size: 35px;
    }
    #thankYouBody h1 {
		clear: both;
		width: 100%;
		display: block;
		font-size: 4.5em;
	}
	#mainLogo {
		width: 25%;
		margin: 0.25 1em 0.25 0.25em;
	}
}
@media screen and (min-width: 1025px) {
    div.body, #thankYouBody {
		width: 600px;
		margin-left: auto;
		margin-right: auto;	
	}
    .icon {
        height: 100px;   
    }
    .icon:first-child, .icon:last-child {
        height: 110px;   
    }
    h1 {
        font-size: 4em;
        padding-top: 1em;
    }
    h2 {
        font-size: 5.75em;
        padding-top: .5em;
    }
    h3 {
        font-size: 4.5em;
    }
    h3.subHeading {
        font-size: 3.5em;
    }
    h4 {
        font-size: 4.4em;
    }
    p, a, label {
        font-size: 2.5em;   
    }
    td {
        font-size: 2.55em;
    }
    .menuPic {
        width: 175px;
    }
    form {
        display: block;
        clear: both;
        padding-left: 0;
    }
    #frmContactUs input, #frmContactUs textarea {
        width: 450px;
    }
    #errorMsg{
        margin-left: -60px;   
    }
    #cmdSubmit {
        margin-left: 5em;
        font-size: 4em;
    }
    iframe {
        margin-left: 150px;
    }
    footer p {
        float: left;
        text-align: left;
        margin: 2em 2em 1.75em 5em;
        font-size: 2.5em;
    }
    footer a {
        float: right;
        margin: 2em 7em;
    } 
    iframe {
        margin-left: 0; 
        height: 475px;  
        width: 475px;
    }
    img#facebook {
	   background: url(../_assets/icons/facebook_sprite.gif) no-repeat right top;
    }
    img#facebook:hover {
	   background: url(../_assets/icons/facebook_sprite.gif) no-repeat left top;
    }
    img#twitter {
        background: url(../_assets/icons/twitter_sprite.gif) no-repeat right top;
    }
    img#twitter:hover {
        background: url(../_assets/icons/twitter_sprite.gif) no-repeat left top;
    }
    img#yelp {
        background: url(../_assets/icons/yelp_sprite.gif) no-repeat right top;
    }
    img#yelp:hover {
        background: url(../_assets/icons/yelp_sprite.gif) no-repeat left top;
    }
    img#instagram {
        background: url(../_assets/icons/instagram_sprite.gif) no-repeat right top;
    }
    img#instagram:hover {
        background: url(../_assets/icons/instagram_sprite.gif) no-repeat left top;
    }
    #linkedin {
        width: 35px;
        height: 35px;
        background: url(../_assets/icons/linkedin_sprite.gif) no-repeat center top;
        background-size: 35px;
    }
    #linkedin:hover {
        background: url(../_assets/icons/linkedin_sprite.gif) no-repeat center bottom;
    }
}
